@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    /*background: hsl(46.3, 100%, 91%);*/
    background: hsl(47, 78%, 46%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav,
main {
    background: hsl(46.3, 100%, 91%);

    display: flex;
    margin: 3px;
}

nav {
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}

#titulo {
    font-size: 25pt;
    color: hsl(133, 41%, 31%);
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
}

.titulo i {
    font-size: 30px;
    margin: 5px -50px;
}

.bi-person-hearts {
    position: absolute;
    margin: 300px;
}


.iframe {
    width: 280px;
    height: 240px;
    margin: 0px auto 0px;
}

#iframe-des {
    width: 280px;
    height: 255px;
    margin: 0px auto 0px;
}

#menu-esq {
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    margin: -180px 100px;
    gap: 15px;
}

#nome-tela {
    color: hsl(133, 41%, 31%);
    font-size: 15pt;
    text-align: center;
    margin: -100px 50px 0px;
}

#conteudo-direito {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

#emergencia {
    font-size: 35pt;
    width: 1000px;
    height: 70px;
    border: 0;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 80%);
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin: 400px -600px 0px;
}

#emergencia:hover {
    font-size: 20pt;
    background-color: hsl(0, 100%, 61%);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 224px);
    }

    aside {
        height: calc(100vh - 224px);

    }
}