@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav {
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}

nav,
main {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    margin: 3px;
}

#titulo {
    font-size: 35px;
    display: flex;
    color: hsl(133, 41%, 31%);
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
}

.titulo i {
    font-size: 30px;
    margin: 6px 9px;
}

.bi-bar-chart-line {
    position: absolute;
    margin: 300px;
}

#conteudo-esquerdo {
    display: flex;
    width: 350px;
    flex-flow: column wrap;
    margin-top: 0px;
}


.iframe {
    width: 280px;
    height: 240px;
    margin: 0px auto 0px;
}

#iframe-des {
    width: 343px;
    height: 237px;
    margin: 0px -32px 0px;
}

#cont {
  display: flex;
  align-items: center;
  height: 800px;
  justify-content: center;
  margin: -200px auto 0px;
}


.formulario-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.6em;
  width: 400px;
  height: 230px;
  background: white;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
  margin: -100px auto 100px
}

#n1{
  font-size: 1.5em;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
  border: none;
  text-indent: 5px;
}

#n2{
  font-size: 1.5em;
  width: 250px;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
  border: none;
  text-indent: 5px;
}
#parente{
 
  width: 120px;
  height: 40px;
  margin-top: 30px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
  font-size: 1.8em;
  border-radius: 8px;
}

#parente2{
 
  width: 120px;
  height: 40px;
  margin-top: 30px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
  font-size: 1.8em;
  border-radius: 8px;
}

#tel1{
  display: block;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#tel2{
  display: block;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#tel{
  font-size: 2em;
  width: 250px;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
  border: none;
}

.label{
  font-size: 2em;
  padding-left: 20px;
  padding-top: 0px;
}


#botao{
  margin-bottom: -520px;
  font-size: 15pt;
  width: 700px;
  height: 50px;
  cursor: pointer;
  background-color: hsl(133, 41%, 31%);
  color: hsl(0, 0%, 80%);
  border: 0;
  border-radius: 20px;
  transition: 0.3s;
}

#botao:hover{
  font-size: 20pt;
  background-color: hsl(0, 0%, 80%);
  color: hsl(133, 41%, 31%);
  border: 1px solid hsl(0, 0%, 80%);
  transform: scale(1.1);
}

#btt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 60%;
}



#emergencia {
    font-size: 35pt;
    width: 1000px;
    height: 70px;
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 80%);
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    /*margin: 550px auto 0px;*/
  }
  
  #emergencia:hover {
    font-size: 20pt;
    background-color: hsl(0, 100%, 61%);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
  }

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 224px);
    }

    aside {
        height: calc(100vh - 224px);

    }
}