@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
  
}

.iframe {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: -5%;
  transform: translateX(-50%);
  margin: 20px;
}

iframe{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}



#sos {
    width: 130px;
    height: 100px;
    border-radius: 50%;
  }

  #cabecalho {
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .item {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .item1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: center;
    }
  
    .item {
      width: 20%;
      margin-bottom: 0;
      margin-right: 60px;
    }
  
    .item1 {
      width: 60%;
      margin-bottom: 0;
    }
  }
  

  #titulo {
    display: flex;
    align-items: center;
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .i1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .i2 {
    width: 80%;
    margin-bottom: 20px; 
}
  
  @media screen and (min-width: 768px) {
    .container2{
        flex-direction: row;
        justify-content: center;
    }
    .i1 {
        width: 20%;
        margin-bottom: 0;
        margin-right: 20px;
    }
    
    .i2 {
        width: 80%;
        margin-bottom: 0;
    }
  }
  

  h1{
    font-size: 5em;
    color: rgba(40, 97, 2, 0.884);
  }
  hr{
    margin-top: 30px;
    height: 2px; /* Set the height of the line */
    border: none; /* Remove the default border */
    background-color: #0f010173; /* Set the color of the line */
  }
  
  h2{
    color: rgba(0, 0, 0, 0.596);
    font-size: 2.5em;
  }

  #logo{ 
    margin-right: 10px; 
    width: 180px;
    height: 210px;
    margin-top: 50px;
  }

  .formulario-container{
    margin-bottom: 50px;
    display: flex;
    max-width: 800px;
    height: 250px;
    background: white;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
    border: none;
  }
  
  .formulario-container2{
    padding-top: 0px;
    display: flex;
    max-width: 800px;
    height: 250px;
    background: white;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
    border: none;
    margin-top: 50px;
  }
  
  #n1{
    font-size: 2em;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
    border: none;
  }

  #n2{
    font-size: 2em;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
    border: none;
  }
  #parente{
   
    width: 120px;
    height: 40px;
    margin-top: 30px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
    font-size: 1.8em;
    border-radius: 8px;
  }

  #parente2{
   
    width: 120px;
    height: 40px;
    margin-top: 30px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
    font-size: 1.8em;
    border-radius: 8px;
  }

  #tel1{
    display: block;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  #tel2{
    display: block;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

#tel{
    font-size: 2em;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
    border: none;
}

  .label{
    font-size: 2em;
    padding-left: 20px;
    padding-top: 0px;
  }

  @media screen and (max-width: 768px) {
    .formulario-container {
      width: 100%;
    }
  }
  


  #button {
    padding-top: 0px;
    display: flex;
    max-width: 280px;
    height: 80px;
    background: white;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
    border: none;
    margin-top: 50px;
    border-radius: 35px;
    margin-bottom: 100px;
  }
  
  #botao{
    width: 280px;
    height: 80px;
    border-radius: 35px;
    font-size: 2em;
    background-color: aquamarine;
  }

  #botao:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
  }


  #foot {
    padding-top: 0px;
    display: flex;
    width: 110%;
    max-width: 100%;
    height: 110px;
    background: hsl(46.3, 100%, 91%);
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    border-radius: 35px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 50%vw;
    flex-direction: row;
  }
  
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  footer {
    display: flex;
    background: hsl(46.3, 100%, 91%);
    height: 100%;
    border-radius: 35px;
    margin-left: -1%;
    max-width: 70%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      justify-content: center;
    }
  }
  

#navegacao {
    padding: 0px 90px 0px 90px;
    height: 40pt;
    
}


@media only screen and (max-width: 923px) {
    #navegacao {
        padding: 0px 60px 0px 60px;
        justify-content: center;
        
    }
}




