@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    /*background: hsl(46.3, 100%, 91%);*/
    background: hsl(46.3, 100%, 91%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav,
main,
aside {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    margin: 3px;
}

#titulo {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: hsl(133, 41%, 31%);
}
 .superior {
    height: 240px;
    width: 280px;
 }

.iframe {
    margin-top: 100px;
    width: 250px;
    height: 340px;
    margin-left: -30px;
   
}

#iframe-des {
    width: 280px;
    height: 240px;
    border: none;
    overflow: hidden;
    margin-left: 33px;
    margin-top: -55px;
    
}


#menu-esq {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: -180px 100px;
    gap: 15px;
}

.formulario-container{
  font-size: 0.6em;
  margin-bottom: 0px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 230px;
  background: white;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
}

#n1{
  font-size: 1.5em;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
  border: none;
  text-indent: 5px;
}

#n2{
  font-size: 1.5em;
  width: 250px;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
  border: none;
  text-indent: 5px;
}
#parente{
 
  width: 120px;
  height: 40px;
  margin-top: 30px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
  font-size: 1.8em;
  border-radius: 8px;
}

#parente2{
 
  width: 120px;
  height: 40px;
  margin-top: 30px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.541);
  font-size: 1.8em;
  border-radius: 8px;
}

#tel1{
  display: block;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#tel2{
  display: block;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#tel{
  font-size: 2em;
  width: 250px;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.733);
  border: none;
}

.label{
  font-size: 2em;
  padding-left: 20px;
  padding-top: 0px;
}

#button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#botao{
  width: 280px;
  height: 50px;
  border-radius: 35px;
  font-size: 2em;
  background-color: aquamarine;
}

#botao:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}

#btt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 60%;
}

#nometela {
    margin-top: -50px;
    font-size: 40px;
    color: hsl(133, 41%, 31%);
    text-align: center;
}
#conteudo-direito {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

nav {
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 430px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}


#emergencia {
    position: absolute;
    font-size: 35pt;
    margin: 420px -939px;
    width: 1000px;
    height: 70px;
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 80%);
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
    justify-content: center;
    margin-bottom: 5px;
}

#emergencia:hover {
    font-size: 20pt;
    background-color: hsl(0, 100%, 61%);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 224px);
    }

    aside {
        height: calc(100vh - 224px);

    }
}