@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
  
}


  #cabecalho {
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .item {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .item1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
    flex-direction: row;
    justify-content: center;
    }
  
    .item {
    width: 20%;
    margin-bottom: 0;
    margin-right: 60px;
    }
  
    .item1 {
    width: 60%;
    margin-bottom: 0;
    }
  }
  

  #titulo {
    display: flex;
    align-items: center;
  }
  
  


  h1{
    font-size: em;
    color: hsl(133, 41%, 31%);

  }
  hr{
    margin-top: 30px;
    height: 2px; /* Set the height of the line */
    border: none; /* Remove the default border */
    background-color: #0f010173; /* Set the color of the line */
  }
  
  #logo{ 
    margin-right: 10px; 
    width: 100px;
    height: 120px;
    margin-top: 50px;
  }

  #cont {
    display: flex;
    align-items: center;
  }
  
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .i1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .i2 {
    width: 80%;
    margin-bottom: 20px;
    
  }

  @media screen and (min-width: 768px) {
    .cont {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    }
  
    .i1 {
    width: 20%;
    height: 20%;
    margin-bottom: 0;
    margin-right: 60px;
    }
  
    .i2 {
    margin-bottom: 0;
    margin-right: 0px;
    font-size: 1.2em;
      
    }
  }
  
  
  #clock {
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  
  h2 {
    font-size: 1.5em;
  }

  .des{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(47, 90%, 81%);
    width: 310px;
    height: 200px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(3, 3, 3, 0.596);
    border-radius: 15px;
    color: black;
    margin-top: 18%;
  }

  .des h3{
    font-size: 23px;
    font-weight: 500;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 10px 25px #00ffe11a;
    padding: 5px;
    color: black
  }
  
  .des .content{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
  }

  .content.disable{
    cursor: no-drop;
  }
 
  .des .content .controls{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(245, 245, 245);
    width: 80%;
    height: 30px;
    margin: 10px;
    
    
    
  }

  .content.disable .controls {
    opacity: .6;
    pointer-events: none;
  }

  .des .content select{
    margin: -10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: black
  }

  .des .content select option{
    width: 100%;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: #000;
    
  }

  .des button{
    width: 150px;
    height: 35px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 0;
    margin-top: 5px;
    border-radius: 20px;
    background: #5dccbf;
    color: black;
  }

  
  

  #button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px; 
    margin: auto;
    margin-bottom: 20%;
    border-radius: 20px;
    margin-top: 20px;
    
    
  }

  #botao{
    width: 30%;
    height: 60px;
    border-radius: 50px;
    background-color: hsl(133, 41%, 31%);
    color: hsl(0, 0%, 80%);
    font-size: 2em;
    box-shadow: 2px 2px 8px rgba(3, 3, 3, 0.301);
    margin-top: 10%;
    
  }

  #botao:hover{
    font-size: 20pt;
    background-color: hsl(0, 0%, 80%);
    color: hsl(133, 41%, 31%);
    border: 1px solid hsl(0, 0%, 8%);
    transform: scale(1.1);

  }

  @media screen and (max-width: 1000px) {
    #botao {
      width: 60%;
      font-size: 1.5em;
    }
  }

  #foot {
    padding-top: 0px;
    display: flex;
    width: 90%;
    max-width: 100%;
    height: 90px;
    background: hsl(46.3, 100%, 91%);
    border-radius: 15px;
    border: none;
    border-radius: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    margin: auto;
    border: none;
  }
  
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .footer-container {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
  }
  
  
  footer {
    display: flex;
    background: hsl(46.3, 100%, 91%);
    height: 100%;
    border-radius: 35px;
    margin-left: -1%;
    max-width: 70%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      justify-content: center;
    }
  }
  

#navegacao {
    padding: 0px 90px 0px 90px;
    height: 40pt;
    border: none;
    
}


@media only screen and (max-width: 923px) {
    #navegacao {
        padding: 0px 60px 0px 60px;
        justify-content: center;
        border: none;
        
    }
}




