*{
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.carrosel{
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  height: 240px;
  width: 300px;
}

.container {
  display: flex;
  transition: trasform 0.5s ease-in-out;
  transform: translateX(0);
}

img{
  object-fit: cover;
  height: 240px;
  width: 300px;
}
