@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

#meu-despertador {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 5px auto 200px;
    /*margin-top: 5px;*/
    width: 250px;
}

#relogio {
    align-items: center;
    justify-content: center;
    margin: 0px 20px 40px;
}

.titulo-despertador {
    position: absolute;
    margin: 10px auto 0px;
    font-size: 25px;
    font-weight: bold;
    color: hsl(133, 41%, 31%);
}

.despertador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(46.3, 70%, 91%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    border-radius: 20px;
    margin: 0px;
}

.despertador h3 {
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    color: hsl(133, 41%, 31%);
    padding: 10px 25px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
    margin: 10px auto 30px;
}

.despertador .content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.content.disable {
    cursor: no-drop;
}

.despertador .content .controls {
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: -40px auto 10px;
    height: 40px;
    width: 80px;
}

.content.disable .controls {
    opacity: 0.6;
    pointer-events: none;
}

.despertador .content select {
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    color: hsl(133, 41%, 31%);
    border: none;
    margin: 20px 20px;
}

.despertador .content select option {
    font-weight: bold;
    color: hsl(132, 83%, 14%);
    background: transparent;
    border: none;
    padding: 5px;
    width: 100%;
}

.despertador button {
    font-size: 20pt;
    background-color: hsl(133, 41%, 31%);
    color: hsl(0, 0%, 80%);
    border: none;
    border-radius: 20px;
     cursor: pointer;       
     padding: 5px;
    transition: 0.3s;
    width: 200px;
    margin: 10px;
}





/*
#meu-despertador {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 295px;
    height: 0px;
}

#relogio {
    align-items: center;
    justify-content: center;
    margin: 0px -40px 200px;
}

.titulo-despertador {
    position: absolute;
    margin: 0px auto 0px;
    font-size: 25px;
    color: hsl(133, 41%, 31%);
}

.despertador {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(47, 90%, 81%);
    width: 270px;
    height: 180px;
    margin: -200px -135px;
    box-shadow: 2px 2px 8px rgba(3, 3, 3, 0.596);
    border-radius: 15px;
}

.despertador h3 {
    font-size: 30px;
    font-weight: 500px;
    background: hsl(46.3, 70%, 91%);
    color: hsl(133, 41%, 31%);
    margin: 0px auto 0px;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
}

.despertador .content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.content.disable {
    cursor: no-drop;
}

.despertador .content .controls {
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 8px;
    height: 20px;
    margin: 20px auto 0px;
    width: 100%;
}

.content.disable .controls {
    opacity: 0.6;
    pointer-events: none;
}

.despertador .content select {
    margin: -10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: -5px;
    color: hsl(133, 41%, 31%);
}

.despertador .content select option {
    width: 100%;
    border: none;
    background: transparent;
    font-weight: bold;
    padding: 5px;
    color: hsl(132, 83%, 14%);
}

.despertador button {
    font-size: 10pt;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: hsl(133, 41%, 31%);
    color: hsl(0, 0%, 80%);
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    margin: 20px auto 0px;
    width: 200px;
    border: none;
    padding: 10px;
}
*/