@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav,
main,
aside {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    margin: 3px;
}


#titulo {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
}

#conteudo-esquerdo {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

#nometela {
    margin-top: -50px;
    font-size: 40px;
    color: hsl(133, 41%, 31%);
    text-align: center;
}
#conteudo-direito {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

nav {
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}

.carrosel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 20px;
    top: 10px;
    border-radius: 15px;
  }
    
  
.iframe {
    margin-top: 0px;
    width: -300px;
    height: 250px;
  }
  
  .hora {
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 280px;
    margin-top: 470px;
    margin-left: -292px;
  }
  

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}


#emergencia {
    position: absolute;
    font-size: 35pt;
    margin: 420px -1100px;
    width: 1000px;
    height: 70px;
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 80%);
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
    justify-content: center;
}

#emergencia:hover {
    font-size: 20pt;
    background-color: hsl(0, 100%, 61%);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 224px);
    }

    aside {
        height: calc(100vh - 224px);

    }
}