@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);

    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav,
main {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    margin: 3px;
}

#titulo {
    font-size: 35px;
    display: flex;
    color: hsl(133, 41%, 31%);
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
}

.titulo i {
    font-size: 30px;
    margin: 6px -40px;
}

.bi-menu-button-wide-fill {
    position: absolute;
    margin: 300px;
}

#conteudo-esquerdo {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

#menu-esq {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: -180px 100px;
    gap: 15px;
}
/*    margin-left: 400px;*/
#menu-dir {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: -180px -400px;
    gap: 15px;
}

#input-menu {
    font-size: 15pt;
    width: 300px;
    height: 60px;
    cursor: pointer;
    background-color: hsl(133, 41%, 31%);
    color: hsl(0, 0%, 80%);
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
}

#input-menu:hover {
    font-size: 20pt;
    background-color: hsl(0, 0%, 80%);
    color: hsl(133, 41%, 31%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
}

#input-menu-ajuda {
    font-size: 25pt;
    width: 300px;
    height: 60px;
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 80%);
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
}

#input-menu-ajuda:hover {
    font-size: 20pt;
    background-color: hsl(0, 100%, 61%);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
}

#emergencia {
    position: absolute;
    font-size: 35pt;
    margin: 420px -1100px;
    width: 1000px;
    height: 70px;
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 80%);
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
    justify-content: center;
}

#emergencia:hover {
    font-size: 20pt;
    background-color: hsl(0, 100%, 61%);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 80%);
    transform: scale(1.1);
}

nav {
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 224px);
    }

    /*aside {
        height: calc(100vh - 224px);

    }*/
}