@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav {
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}

nav,
main {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    margin: 3px;
}

#titulo {
    font-size: 35px;
    display: flex;
    color: hsl(133, 41%, 31%);
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
}

.titulo i {
    font-size: 30px;
    margin: 6px -40px;
}

.bi-bar-chart-line {
    position: absolute;
    margin: 300px;
}

#conteudo-esquerdo {
    display: flex;
    width: 350px;
    flex-flow: column wrap;
    margin-top: 0px;
}


.iframe {
    width: 280px;
    height: 240px;
    margin: 0px auto 0px;
}

#iframe-des {
    width: 343px;
    height: 237px;
    margin: 0px -32px 0px;
}