@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
    background: hsl(47, 87%, 45%);
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

nav,
main {
    background: hsl(46.3, 100%, 91%);
    display: flex;
    margin: 3px;
}

nav {
    flex: 1 1 100px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    align-items: center;
    justify-content: center;
    /* conta: 100% tamanho vertical - (Header (100px) + Footer(100px) + Margin (((3px+3px)/4)=24)) = (100 + 100 + 24 =224) */
}

#titulo {
    font-size: 35px;
    display: flex;
    color: hsl(133, 41%, 31%);
    margin: 3px;
    flex: 1 1 100vw;
    height: 50px;
}

.titulo i {
  position: absolute;
    font-size: 30px;
    margin: 6px 40px;
}

.bi-menu-button-wide-fill {
    position: absolute;
    margin: 30px;
}

#conteudo-esquerdo {
  display: flex;
  width: 300px;
  flex-flow: column wrap;
}

.iframe {
  margin-top: 0px;
  width: -300px;
  height: 240px;
}

#sentimentos {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 130px;
  margin: -150px -400px 0px;
  gap: 200px;
}

#sentimentos2 {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 130px;
  margin: 50px -400px 0px;
  gap: 200px;
}

.botao-salvar {
  position: absolute;
  margin: 20px -250px 0px;
}

#register_button {
  font-size: 15pt;
  width: 500px;
  height: 50px;
  cursor: pointer;
  background-color: hsl(133, 41%, 31%);
  color: hsl(0, 0%, 80%);
  border: 0;
  border-radius: 20px;
  transition: 0.3s;
}

#register_button:hover {
  font-size: 20pt;
  background-color: hsl(0, 0%, 80%);
  color: hsl(133, 41%, 31%);
  border: 1px solid hsl(0, 0%, 80%);
  transform: scale(1.1);
} 

#image:hover {
  height: 170px;
  background-color:hsl(46, 100%, 85%);
  color:  hsl(133, 41%, 31%);;
}

#emergencia {
  position: absolute;
  font-size: 35pt;
  margin: 420px -1100px;
  width: 1000px;
  height: 70px;
  cursor: pointer;
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 80%);
  border: 0;
  border-radius: 20px;
  transition: 0.3s;
  justify-content: center;
}

#emergencia:hover {
  font-size: 20pt;
  background-color: hsl(0, 100%, 61%);
  color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 80%);
  transform: scale(1.1);
}


/*
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
  
}


#blis {
    width: 130px;
    border-radius: 50%;
    margin-right: 30px;
  }

  #cabecalho {
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .item {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .item1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: center;
    }
  
    .item {
      width: 20%;
      margin-bottom: 0;
      margin-right: 60px;
    }
  
    .item1 {
      width: 60%;
      margin-bottom: 0;
    }
  }

  .smiles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  #image:hover{
    height: 220px;
    width: 220px;
  }
/*
  #image2:hover{
    height: 220px;
    width: 220px;
  }

  #image3:hover{
    height: 220px;
    width: 220px;
  }

#image4:hover{
    height: 220px;
    width: 220px;
  }
    
  #image5:hover{
    height: 220px;
    width: 220px;
  }

  #image6:hover{
    height: 220px;
    width: 220px;
  }
  */
/*
  #titulo {
    display: flex;
    align-items: center;
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .i1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .i2 {
    width: 80%;
    margin-bottom: 20px; 
}

#conteudo-esquerdo {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

#nometela {
    margin-top: -50px;
    font-size: 40px;
    color: hsl(133, 41%, 31%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  footer {
    display: flex;
    background: hsl(46.3, 100%, 91%);
    height: 100%;
    border-radius: 35px;
    margin-left: -1%;
    max-width: 70%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      justify-content: center;
    }
  }
  

#navegacao {
    padding: 0px 90px 0px 90px;
    height: 40pt;
    
}


@media only screen and (max-width: 923px) {
    #navegacao {
        padding: 0px 60px 0px 60px;
        justify-content: center;
        
    }
}
*/



