@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Fraunces:wght@700&display=swap');

* {
    font-family: 'Boogaloo', cursive;
}

body {
    background: hsl(46.3, 100%, 91%);
  
}


#blis {
    width: 130px;
    border-radius: 50%;
    margin-right: 30px;
  }

  #cabecalho {
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .item {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .item1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: center;
    }
  
    .item {
      width: 20%;
      margin-bottom: 0;
      margin-right: 60px;
    }
  
    .item1 {
      width: 60%;
      margin-bottom: 0;
    }
  }

  .smiles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  #titulo {
    display: flex;
    align-items: center;
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .i1 {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .i2 {
    width: 80%;
    margin-bottom: 20px; 
}

#conteudo-esquerdo {
    flex: 1 1 200px;
    display: flex;
    flex-flow: column wrap;
}

#nometela {
    margin-top: -50px;
    font-size: 40px;
    color: hsl(133, 41%, 31%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  footer {
    display: flex;
    background: hsl(46.3, 100%, 91%);
    height: 100%;
    border-radius: 35px;
    margin-left: -1%;
    max-width: 70%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      justify-content: center;
    }
  }
  

#navegacao {
    padding: 0px 90px 0px 90px;
    height: 40pt;
    
}


@media only screen and (max-width: 923px) {
    #navegacao {
        padding: 0px 60px 0px 60px;
        justify-content: center;
        
    }
}




